/dist/
/.vscode
/openrun
/metadata/
/openrun.toml
*.swp
.sw*
/logs/
.DS_Store
/run/
/tests/run/
/app_src/
/config/
/internal/server/appspecs/
/internal/server/appspecs/dummy/README
/coverage/
/deploy/terraform/.terraform/
/deploy/terraform/terraform.*
/deploy/terraform/terraform.tfstate*
/deploy/terraform/*.plan
/deploy/terraform/*.plan.backup
/docs/public/
/docs/.hugo_build.lock

