
/* Change the default font */
html {
  font-family: 'Open Sans', sans-serif;
}


h1:not(.not-prose) {
    color: #00C200 !important;
}

h2, h3, h4, h5, h6 {
    color: #00C200 !important;
}

:root {
    --primary-hue: 120deg;
    --primary-saturation: 90%;
}

.hextra-nav-container nav > a:first-child {
  height: 50px;
  overflow: hidden;
}

.hextra-nav-container nav > a:first-child img {
  width: 180px !important;
  height: 180px !important;
  max-width: none;
}

/* assets/css/custom.css */
.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 9999;
}

.openrun-feature-card {
  --openrun-card-rgb: 0 137 123;
  --openrun-card-alpha: 0.14;

  background: radial-gradient(
    ellipse at 50% 80%,
    rgb(var(--openrun-card-rgb) / var(--openrun-card-alpha)),
    hsl(0 0% 100% / 0)
  );
}

.openrun-feature-card-light {
  --openrun-card-rgb: 0 137 123;
  --openrun-card-alpha: 0.14;
}

.openrun-feature-card-dark {
  --openrun-card-rgb: 11 95 139;
  --openrun-card-alpha: 0.2;
}
